{% extends 'layout.html' %}

{% block content %}

  <div class="timeline-follow">
    <div class="cards">
      <div class="services">
         <div class="content content">
              <div class="followings half">
                  <h2>Following List</h2>
                  <p>{% if user.Followings %}
                    {% for following in user.Followings %}
                      <div>{{following.nick}}</div>
                    {% endfor %}
                  {% endif %}
                </div></p>
         </div>
         <div class="content content">
          <div class="followers half">
              <h2>Follower List</h2>
              <p>{% if user.Followers %}
                {% for follower in user.Followers %}
                  <div>{{follower.nick}}</div>
                {% endfor %}
              {% endif %}
            </div></p>
         </div>
      </div>
   </div>
  </div>
{% endblock %}
