* { box-sizing: content-box; }
html, body { margin: 0; padding: 0; height: 100%; }

.twit-follow-cancle{
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;

}
.theme-light {

  background-color: white;
  
}
.theme-dark {
  
  background-color: rgb(68, 67, 75);
 
}
.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #ddd;
  outline: none;
  cursor: pointer;
} 
svg {
  width:0;
  height: 24px;
  transition: all .3s ease-in;
  transform-origin: center;
}
.moon { opacity: 0; width: 0;} /* 밝을 땐 보이지 않습니다. */
.sun {    width: 24px;
           position: fixed; /* 밝을 때 보이며, 고정 위치값을 지정합니다. */
           top: 20px !important;
           right: 20px; 
}
.dark .moon {
  opacity: 1;
  width: 24px;
  position: fixed; /* 어두울 때 보이며, 고정 위치값을 지정합니다. */
  top: 20px !important;
  right: 20px;
}

.dark .sun { opacity: 0; width: 0; /* 어두울 땐 보이지 않습니다. */}

.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid silver;
  color: rgb(0, 0, 0);
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100%; }
@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background:rgb(140, 138, 148);
  color:#fff;
} 
.user-name { font-weight: bold; font-size: 18px; }
.count { font-weight: bold; color: rgb(147, 157, 212); font-size: 18px; }
.timeline-join {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
.timeline-post {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
.timeline-follow {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  background-color:white;
  color:black;
  border: black;
}
@media screen and (min-width: 800px) { .timeline { width: 700px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: rgb(140, 138, 148);
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: black;
  background: white;
  border: none;
}
.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; }
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: rgb(214, 83, 155);
  font-size: 12px;
  cursor: pointer;
}
.twit-unfollow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: rgb(15, 0, 218);
  font-size: 12px;
  cursor: pointer;
}
.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; }
footer { text-align: center; }

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  .nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  }
  .nav li {
  list-style: none;
  margin: 0;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  .services{
    display: flex;
    align-items: center;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
    background-color: white;
  }
  .content .fab{
    font-size: 70px;
    margin: 16px 0;
  }
  .content > *{
    flex: 1 1 100%;
  }
  .content:hover{
    color: white;
  }
  .content:hover a{
    border-color: white;
    background: white;
  }
  .content:hover{
    border-color: #8ca0be;
    background: #8ca0be;
  }
  .content:hover a{
    color: #8ca0be;
  }
  .content h2{
    font-size: 25px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .content p{
    font-size: 17px;
  }

  #post-delete-btn {
    float: right;
    color: rgb(252, 252, 252);
    background: rgb(190, 60, 60);
    border-radius: 4px;
    height: 35px;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
  }

  #comment-btn{
    color: black;
    background: white;
    border: 1px solid grey;
    border-radius: 4px;
    height: 30px;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
  }

  #comment-text { width: 400px; }

  .twit-like{
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 5px;
  }
  .twit-unlike{
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 5px;
  }